[include plr.cfg]
[include MCU_ID.cfg]
[include moonraker_obico_macros.cfg]

[stepper_x]
step_pin:PC14
dir_pin:!PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min: -6
position_endstop: -6
position_max: 310
homing_speed:40
homing_retract_dist:0
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_y]
step_pin:PB7
dir_pin:!PB6
enable_pin:!PB8
microsteps:16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: -10
position_endstop:-10 
position_max:310
homing_speed:40
homing_retract_dist:0
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_z]
step_pin:PC10
dir_pin:!PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 405
position_min: -5 
homing_speed:20

[extruder]
step_pin:PB1
dir_pin:!PB2
enable_pin:!PB0
microsteps:16
rotation_distance: 4.706
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 330
heater_pin: PA7
sensor_type:EPCOS 100K B57560G104F
sensor_pin: PA1
max_power: 1
pressure_advance: 0.03
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:500
instantaneous_corner_velocity: 5.000
max_extrude_only_distance: 500
max_extrude_only_velocity:500
max_extrude_only_accel:8000
step_pulse_duration:0.000002
min_extrude_temp:0
smooth_time: 2.0

[homing_override]
set_position_z:0
gcode: 
    BED_MESH_CLEAR
    G91
    G1 Z5 F120
    G90
    {% if params.X is defined %}
    {% if params.Y is undefined %}
    {% if params.Z is undefined %}
    G28 X
    {% endif %}
    {% endif %}
    {% endif %}
    {% if params.Y is defined %}
    {% if params.X is undefined %}
    {% if params.Z is undefined %}
    G28 Y
    {% endif %}
    {% endif %}
    {% endif %}
    {% if params.Z is defined %}
    {% if params.X is undefined %}
    {% if params.Y is undefined %}
    G28 Y
    G28 X
    G1 X160 Y165 F3000
    {% set z_max = printer.toolhead.axis_maximum.z-6|int %} 
    SET_KINEMATIC_POSITION Z={z_max}
    PROBE probe_speed=5 samples=5
    {% set probe_offset=-(printer.configfile.settings['probe'].z_offset) %}
    G91
    G1 Z{probe_offset}  F300
    G90
    SET_KINEMATIC_POSITION Z=0
    G91 
    G1 Z5 F300
    G90
    {% endif %}
    {% endif %}
    {% endif %}
    {% if params.X is defined %}
    {% if params.Y is defined %}
    {% if params.Z is undefined %}
    G28 Y
    G28 X
    {% endif %}
    {% endif %}
    {% endif %}
    {% if params.X is undefined %}
    {% if params.Y is undefined %}
    {% if params.Z is undefined %}
    G28 Y
    G28 X
    G1 X160 Y165 F3000
    {% set z_max = printer.toolhead.axis_maximum.z-5|int %} 
    SET_KINEMATIC_POSITION Z={z_max}
    PROBE probe_speed=5 samples=5
    {% set probe_offset=-(printer.configfile.settings['probe'].z_offset) %}
    G91
    G1 Z{probe_offset} F300
    G90
    SET_KINEMATIC_POSITION Z=0 
    G91 
    G1 Z5 F300
    G90
    {% endif %}
    {% endif %}
    {% endif %}
    G90       
    BED_MESH_PROFILE LOAD="default"

[probe]
pin:PA8
x_offset:-17
y_offset: 17
speed: 10.0
samples: 2
samples_result: average
sample_retract_dist: 5.0
samples_tolerance: 0.03
samples_tolerance_retries: 3

[bed_mesh]
speed:120                
horizontal_move_z:10     
mesh_min:20,20           
mesh_max:290,290
probe_count:6,6         
algorithm:bicubic 
bicubic_tension:0.2
mesh_pps: 4, 4   

[verify_heater extruder]
max_error: 120
check_gain_time:5
hysteresis: 5
heating_gain: 1

[heater_bed]
heater_pin:PB10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
max_power: 1.0
min_temp: 0
max_temp: 200

[verify_heater heater_bed]
max_error: 120
check_gain_time:300
hysteresis: 3
heating_gain: 1

[fan]
pin:PA4
max_power: 0.8
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

[heater_fan fan0]
pin: PC7
shutdown_speed: 1
heater_temp: 45.0

[heater_fan fan2]
pin: PC9
shutdown_speed: 1 

[printer]
kinematics:cartesian
max_velocity: 1000
max_accel: 10000
max_accel_to_decel: 5000
max_z_velocity: 30
max_z_accel: 200
square_corner_velocity: 5.0

[input_shaper]

[idle_timeout]
timeout: 36000

[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
    SET_FILAMENT_SENSOR SENSOR=fila ENABLE=1
event_delay: 5.0
pause_delay: 5.0
switch_pin: PA6

[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.1
hold_current: 0.8
interpolate: True
stealthchop_threshold:0
driver_SGTHRS:70
diag_pin:^PC0

[tmc2209 stepper_y]
uart_pin: PB5
run_current: 1.2
hold_current: 0.8
interpolate: True
stealthchop_threshold:0
driver_SGTHRS:90
diag_pin:^PC1

[tmc2209 stepper_z]
uart_pin: PC4
run_current: 1.1
hold_current: 0.8
interpolate: True
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PC5
run_current: 0.8
hold_current: 0.8
interpolate: True
stealthchop_threshold: 0

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0
axes_map:-x, -y, -z

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20
min_freq: 5
max_freq: 70
accel_per_hz:140

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[gcode_arcs]

[exclude_object]

[neopixel my_neopixel]
pin:PA3
chain_count:1
color_order:GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

#####################################
# LED Control
#####################################

[gcode_shell_command LED_ON]
command: /bin/bash /home/mks/lighton.sh
timeout: 2.

[gcode_shell_command LED_OFF]
command: /bin/bash /home/mks/lightoff.sh
timeout: 2.

[gcode_macro LIGHT_ON]
description: Allumer la LED du bati
gcode:
    RUN_SHELL_COMMAND CMD=LED_ON

[gcode_macro LIGHT_OFF]
description: Eteindre la LED du bati
gcode:
    RUN_SHELL_COMMAND CMD=LED_OFF

#####################################
# M600 Changement de filament
#####################################

[gcode_macro M600]
description: Changement de filament
gcode:
    PAUSE
    M117 Changement filament

#####################################
# LOAD / UNLOAD Filament
#####################################

[gcode_macro LOAD_FILAMENT]
description: Charger le filament
gcode:
    {% set TEMP = params.TEMP|default(printer.extruder.target if printer.extruder.target > 180 else 200)|float %}
    M117 Chauffe pour chargement...
    M109 S{TEMP}
    M117 Chargement filament...
    M83
    G1 E80 F300
    G1 E30 F150
    G92 E0
    M117 Filament charge!

[gcode_macro UNLOAD_FILAMENT]
description: Retirer le filament
gcode:
    {% set TEMP = params.TEMP|default(printer.extruder.target if printer.extruder.target > 180 else 200)|float %}
    M117 Chauffe pour retrait...
    M109 S{TEMP}
    M117 Retrait filament...
    M83
    G1 E10 F300
    G1 E-80 F800
    G92 E0
    M117 Filament retire!

#####################################
# PRINT START / END
#####################################

[gcode_macro PRINT_START]         
gcode:
    M220 S100
    M221 S100
    CLEAR_PAUSE
    M117 Printing
                             
[gcode_macro PRINT_END]
gcode:
    M220 S100
    M221 S100

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    PRINT_END
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} 
    SDCARD_RESET_FILE
    G92 E0
    G1 E-10.0 F1200 
    G4 P2000
    G28 X
    TURN_OFF_HEATERS
    M107 
    M84

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode: 
    {% set z = params.Z|default(20)|int %}                                                   
    {% set e = params.E|default(2.5) %} 
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                             
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}                                              
    SAVE_GCODE_STATE NAME=PAUSE                                                                  
    M25                                                                              
    {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       
      G91
      M83
      G1 E-{e} F2100
      G1 Z{z} F900                                                                     
    {% else %}
      SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
    {% endif %}
    SAVE_GCODE_STATE NAME=PAUSEPARK
    G90
    SET_IDLE_TIMEOUT TIMEOUT=43200                                                       

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set e = params.E|default(2.5)|int %}                                          
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    G91                                                                               
    M83
    RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     
    {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}                                                
      G1 Z{zhop * -1} F900
      G1 E{e+0.5} F900	  
    {% else %}                      
      G1 Z{zhop * -1} F900                                                     
    {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60 
    M24

#####################################
# Bed Mesh
#####################################

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    G28
    BED_MESH_CALIBRATE
    G0 Z50 F1800
    G0 X170 Y175 F12000

#####################################
# Nozzle Cleaning
#####################################

[gcode_macro nozzle_wipe]
gcode: 
    M109 S220
    G1 X260 Y285 Z10 F3000
    SET_KINEMATIC_POSITION Y=0  
    G1 Y35 F3000
    G1 Z-1  F600  
    G1 X230 F3000
    G1 X270 F3000
    G1 Y37 F3000
    G1 X230 F3000
    G1 X270 F3000
    G1 Y35 F3000
    G1 X230 F3000
    G1 X270 F3000
    G1 Y37 F3000
    G1 X230 F3000
    G1 X270 F3000
    G1 Y35 F3000
    G1 X230 F3000
    G1 X270 F3000
    G1 Y37 F3000
    G1 X230 F3000
    G1 X270 F3000
    G92 E0
    G1 Z10 F1200
    G1 Y0 F3000
    G1 E0 F1500
    M400
    SET_KINEMATIC_POSITION Y=285
    G92 E-1
    G1 Z200 F1200
    M104 S200
    G4 S220
    M104 S0

[gcode_macro nozzle_clean]
gcode:
    G28
    M109 S220
    M104 S220
    nozzle_wipe

[gcode_macro draw_line]
gcode:
    M104 S160
    M109 S220
    nozzle_wipe
    G1 Z1.0 F3000
    G1 X230 Y303 Z0.1 F1800.0
    G1 X120 Y303 Z0.1 F1800.0 E15.0
    G1 X120 Y303 Z0.3 F1000.0
    G1 X230 Y303 Z0.3 F1000.0 E15.0
    G92 E0
    G1 E-2 Z5 F1800
    G92 E0

#####################################
# Move to Points
#####################################

[gcode_macro move_to_point_0]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X24 Y35  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_1]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X274 Y35  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_2]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X24 Y165  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_3]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X274 Y165  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_4]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X24 Y295  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_5]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X274 Y295  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_6]
gcode:
   G90
   G1 Z10 F600
   M400
   G1 X152 Y165  F12000
   M400
   G1 Z0 F600
   M400

#####################################
# NeoPixel Display
#####################################

[gcode_macro NEOPIXEL_DISPLAY]
gcode:
    {% set led = params.LED %}
    {% set type = params.TYPE %}
    {% set mode = params.MODE %}
    {% set my_neopixel = printer.configfile.config['neopixel ' ~ led] %}

    {% if mode == 'progress' %}
        {% for i in range(my_neopixel.chain_count|int) %}
            SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count|int}
        {% endfor %}
    {% endif %}
    {% if mode == 'glow' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
    {% endif %}

[display_template led_extruder_temp_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {0.5}, 0.0, {1-ratio}, 0.0

[display_template led_bed_temp_glow]
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {0.1}, 0.0, {0.5-ratio}, 0.0

[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
    1, 1, 1, 0.0

#####################################
# M109/M190 Override for NeoPixel
#####################################

[gcode_macro M109]
rename_existing: M99109
gcode:
    NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=extruder_temp MODE=glow
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+2}
    {% endif %}
    NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=print_percent MODE=progress 

[gcode_macro M190]
rename_existing: M99190
gcode:
    NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=bed_temp MODE=glow
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+2}
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.176
#*# pid_ki = 9.392
#*# pid_kd = 21.132
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.138
#*# pid_ki = 0.930
#*# pid_kd = 1360.508
#*#
#*# [probe]
#*# z_offset = 0.420
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.191501, -0.187751, -0.177751, -0.165251, -0.104001, 0.015999
#*# 	-0.090251, -0.074001, -0.102751, -0.115251, -0.124001, -0.136501
#*# 	-0.066501, -0.022751, -0.064001, -0.126501, -0.190251, -0.261501
#*# 	-0.049001, -0.031501, -0.051501, -0.101501, -0.181501, -0.251501
#*# 	-0.015251, -0.061501, -0.106501, -0.135251, -0.116501, -0.085251
#*# 	0.018499, -0.051501, -0.090251, -0.096501, 0.012249, 0.100999
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 4
#*# min_y = 20.0
#*# x_count = 6
#*# max_y = 290.0
#*# mesh_x_pps = 4
#*# max_x = 290.0
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 59.4
#*# shaper_type_y = zv
#*# shaper_freq_y = 33.0
